:root {
    --guessing-number: rgb(147, 83, 83);
    --navigation: #F4ABA9;
    --button: #f0f0f0;
    --guessing-word: rgb(121, 119, 119);
    --hidden-word: white;
    --body-color: silver;
    --heading-size: 2.5rem;
    --body-text-size: 1.5rem;
    --button-text-size: 1.8rem;
    --hints-text-size: 1.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-family: sans-serif;
    font-size: 62.5%;
}

@media only screen and (max-width:25em) {
    html {
        font-size: 50%;
    }
}

body {
    background-color: var(--body-color);
    overflow: hidden;
}

.container {
    width: 100%;
    overflow-x: hidden;
}

nav {
    padding-top: 1.5rem;
    max-width: 114rem;
    height: 5vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--navigation);
}

.navigation {
    position: fixed;
    z-index: 2;
    max-width: 114rem;
    height: 5vh;
    margin: 0 auto;
    background-color: var(--navigation);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#play,
#reset {
    width: 7rem;
    height: 3rem;
    margin: 0.5rem;
    background-color: var(--button);
    border: 2px solid var(--guessing-number);
    border-radius: 0.5rem;
    cursor: pointer;
}

#reset {
    background-color: var(--hidden-word);
}

.levels,
.points {
    font-size: var(--button-text-size);
    color: var(--guessing-number);
    margin: 0.5rem;
}


/* GUESSING Game Styling */

#guessNumber,
#guessWord,
#hidden-Words,
#singularPlural {
    max-width: 114rem;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--guessing-number);
}


/* 
.translatedUp {
    transform: translateY(-110vh);
    opacity: 0;
    transition: transform 0.8s ease-in-out;
}

.translateToView {
    transform: translateY(-105vh);
    transition: transform 0.8s ease-in-out;
} */

h2 {
    padding-top: 3rem;
    text-align: center;
    color: var(--hidden-word);
    font-size: var(--heading-size);
    margin-bottom: 2rem;
}

.hidden {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.hideNumber {
    width: 10rem;
    height: 10rem;
    border: 3px double grey;
}

#hiddenNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--heading-size);
    color: var(--hidden-word);
    height: 100%;
    display: none;
}

.chancesTime {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label {
    color: var(--hidden-word);
    font-size: var(--body-text-size);
    margin-bottom: 1rem;
}

.time,
.chances {
    width: 5rem;
    height: 5rem;
    border: 2px solid white;
    font-size: var(--button-text-size);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hidden-word);
}

.message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    max-width: 40rem;
    margin: 2rem auto;
    padding-left: 2rem;
}

#num {
    width: 8rem;
    height: 5rem;
    font-size: var(--heading-size);
    color: black;
    background-color: var(--button);
    cursor: pointer;
}

#num:hover {
    background-color: var(--navigation);
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--navigation);
    margin-top: 3rem;
    margin-right: 1rem;
    /* transform: translateY(0); */
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}

.slide {
    transition: transform 0.8s ease-in-out;
}

.dot:nth-child(1) {
    animation: bounce 3s ease-out infinite;
}

.dot:nth-child(2) {
    animation: bounce 3s ease-out infinite 1s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
        animation-timing-function: ease-in;
    }
}


/*GUEESING WORD*/

#guessWord,
#hidden-Words,
#singularPlural {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--hidden-word);
}

.heading-word {
    color: black
}

.hint {
    color: blue;
    text-decoration: underline;
}

h3 {
    text-align: center;
}

.group-word {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.wordLabel {
    color: black;
}

#word,
.wordInWord,
.twoLetters {
    width: 20rem;
    height: 3.5rem;
    border: 2px solid var(--guessing-number);
    padding-left: 1rem;
}

#submit-word,
#submit-word-in-word,
#submit-letter {
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    margin-top: 1.5rem;
    color: var(--navigation);
    font-size: var(--button-text-size);
    background-color: var(--guessing-number);
    border: 2px solid var(--navigation);
}

.correct_not,
.levelCompleted,
.fail {
    width: 20rem;
    margin: 1rem;
    color: green;
    font-size: var(--body-text-size);
}

.got,
.no-is {
    color: red;
    font-size: 2rem;
    border: 2px solid var(--guessing-number);
    padding: 0.2rem;
}

.guessThese {
    color: red;
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}


/*HIDDEN WORD IN A WORD*/

#hidden-Words {
    background-color: var(--guessing-number);
}

.hiddenWords,
.letter {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 57, 57);
    font-weight: 900;
    font-size: var(--button-text-size);
    background-color: white;
}

@media only screen and (max-width:25em) {
    .hiddenWords,
    .letter {
        width: 100%;
    }
}

.word-word-label {
    color: var(--hidden-word);
}

#submit-word-in-word {
    background-color: var(--hidden-word);
    color: black;
}

.gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.8s ease-in-out;
    color: red;
    font-size: 3rem;
    background-color: black;
    padding: 2rem;
    z-index: 3;
    display: none;
}

.big {
    transform: scale(3);
    display: flex;
}